html {
	min-width: 760px;
	min-height: 400px;
}s

body {
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
	
h1 {
	font-size: 2em;
}

#debug {
	float: right;
	width: 360px;
	height: 500px;
	padding: 10px;
	display:none;
}

#debugbox {
	width: 100%;
	height: 400px;
	font-family: monospace;
}

#options {
	width: 600;
	padding: 0px 10px;
}

#bottom {
	text-align: right;
}


.pageactions {
	margin: 0 6px;
	height: 36px;
}

.pageactions .actionleft {
	float: left;
}

.pageactions .actionright {
	float: right;
}

#proto-setting {
	display: none;
}

.note {
	font-size: .8em;
	font-style: italic;
}

.setting {
	margin-top: -2px;
	border-radius: 8px;
	border: 2px solid #eee;
}

.preview-outer {
	padding: 5px 5px;
	margin: 0px 0;
}

.preview-title {
	float: left;
	padding:5px;
	width: 200px;	
}

.preview-title input[type=text] {
	margin-left: 10px;	
}

.preview {
	margin-left: 220px;
	padding: 0px 4px;	
}

.board {
	padding: 8px;
	line-height: 2em;
	border-top: thin solid #eee;
}

.board input[type=checkbox] {
	margin-right: 10px;
	vertical-align: text-top;
}

.board .tagopts {
	float: left;
	width: 48%;
}

.board .textopts {
	float: right;
	width: 48%;
}

.board .optbody {
	position: relative;
}

.board .optbody label {
	display: inline-block;
	width: 110px;
}


.disabler {
	position: absolute;
	top: 0; left: -5px; bottom: 0; right: 10px;
	border-radius: 10px;
	z-index: 10;
	display: none;
	background: rgba(255, 255, 255, .6);
}
